In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
zoo_data = pd.read_csv('zoo.csv')

In [4]:
zoo_data.shape

(100, 18)

In [6]:
zoo_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

# split dataset into two sets using the iloc method('zoo_x, zoo_y')

In [12]:
zoo_x = zoo_data.iloc[:,1:17]
zoo_y = zoo_data.iloc[:,17:18]

In [8]:
zoo_x.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1

In [13]:
zoo_y.head()

   class_type
0           1
1           1
2           4
3           1
4           1

split the features and their corresponding class types in to two sets.                                                     X_train = zoo_x rows*75%, 
X_test = zoo_x rows*25%,
y_train = zoo_y rows*75%,
y_test = zoo_y rows*25%

In [14]:
X_train,X_test,y_train,y_test = train_test_split(zoo_x,zoo_y, test_size=0.25)

In [16]:
X_train.shape

(75, 16)

In [19]:
X_test.shape

(25, 16)

In [20]:
y_train.shape

(75, 1)

In [21]:
y_test.shape

(25, 1)

# build a classifier

In [22]:
zoo_classifier = DecisionTreeClassifier(random_state=0)

# train the classifier using the training data set we have.

In [23]:
zoo_classifier.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

# test the accuracy of the classifier

In [35]:
zoo_classifier.score(X_test,y_test)

1.0

# make a prediction based using our model

select some rows in X_test data set and give with that with the parameter...here we have select 0-4 rows of X_test data set ( X_test[0:4] )
and run the method...after that check the given predicted result value with particular y_test data set rows values..

In [29]:
zoo_classifier.predict(X_test[0:4])

array([6, 2, 2, 2], dtype=int64)

In [34]:
y_test.head()

    class_type
24           6
36           2
78           2
86           2
33           4